@{
    ViewData["Title"] = "Home Page";
}

<div style="width:70%">
    <br/>
    <h4>Número de amigos: @ViewBag.Amigos</h4>    
    <img style="width: 100%;" src="~/images/amigos.png"/>
</div>
<div style="width:70%">
    <br />
    <h4>Número de países: @ViewBag.Paises</h4>    
    <img style="width: 100%;" src="~/images/bandeiras.png" />
</div>
<div style="width:70%">
    <br />
    <h4>Número de estados: @ViewBag.Estados</h4>    
    <img style="width: 100%;" src="~/images/estados.png" />
</div>
